@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: white;
}

.input__container {
  position: fixed;
  top: 0;
  left: 0;
}

.app {
  width: 400px;
}

.app__title {
  text-align: center;
}

.matrix {
  width: 100%;
  margin-top: 0.3rem;
}

.row {
  display: flex;
  width: 100%;
}

.item {
  flex: 1;
  padding: 0.3rem;
  width: 64px;
  height: 64px;
  border: 2px solid white;
}
